services:
  db:
    image: postgres:16-alpine
    container_name: our-wallet-postgres
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: our_wallet_db
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
