.container {
  display: flex;
  gap: 50px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.branding {
  color: #D97757;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--font-primary);
  font-size: 12px;
}

.title {
  display: flex;
  gap: 16px;
}

.subtitle {
  margin: 0;
  font-weight: 400;
}
